<link rel="stylesheet" href="/css/GioiThieuPage.css" />

<div class="introduce">
  <div class="container">

    {{! directory }}
    <div class="directory">
      <ul>
        <li><a href="/">Trang chủ</a></li>
        <li>Giới thiệu</li>
      </ul>
    </div>

    {{! introduce main }}
    <div class="main">
      <div class="row">
        {{! meny }}
        <div class="col-3">
          <ul class="menu__list">
            <li class="menu__list-item active">Giới thiệu</li>
            <li class="menu__list-item">Điều kiện và điều khoản</li>
            <li class="menu__list-item">Cách thức chuyển đổi</li>
            <li class="menu__list-item">Quy chế hoạt </li>
            <li class="menu__list-item">Chính sách riêng tư</li>
            <li class="menu__list-item">Chính sách bảo mật</li>
            <li class="menu__list-item">Tuyển dụng</li>
            <li class="menu__list-item">Hỗ trợ</li>
          </ul>
        </div>

        {{! description }}
        <div class="col-9">
          {{! Giới thiệu về iVIVU.com }}
          <div id="gioithieu">
            <h1>Giới thiệu về iVIVU.com</h1>
            <p>
              Thành lập năm 2010,
              <span>iVIVU.com</span>
              là thành viên của
              <span>Tập đoàn TMG Việt Nam</span>
              với hơn 20 năm kinh nghiệm trong lĩnh vực Du lịch – Khách sạn.
              iVIVU.com tiên phong trong việc sáng tạo các sản phẩm du lịch tiện
              ích dành cho khách hàng nội địa. Liên tục tăng trưởng mạnh qua
              nhiều năm, iVIVU.com hiện là OTA hàng đầu Việt Nam trong phân khúc
              cao cấp với hệ thống khoảng 2,500 khách sạn tại Việt Nam & hơn
              30,000 khách sạn quốc tế.
            </p>
            <p>
              Với mục tiêu mang đến cho khách hàng
              <span>“Trải nghiệm kỳ nghỉ tuyệt vời”</span>, iVIVU.com kỳ vọng
              trở thành nền tảng du lịch nghỉ dưỡng số 1 cho khách hàng Đông Nam
              Á trong 5 năm tới.
            </p>
            <p>
              Dòng sản phẩm chính của iVIVU là
              <span>Combo du lịch</span>
              - sản phẩm cung cấp đầy đủ cho một kỳ nghỉ bao gồm phòng khách
              sạn, vé máy bay, đưa đón, ăn uống, khám phá,… chỉ trong 1 lần đặt.
              Với combo du lịch khách hàng không cần băn khoăn chọn lựa hoặc mất
              thời gian đặt từng dịch vụ riêng lẻ, lại còn hưởng được mức giá vô
              cùng tốt với những dòng combo iVIVU.com mang lại:
              <span>
                combo tiết kiệm, voucher độc quyền, ưu đãi đặt sớm và flash
                sales.</span>
            </p>
            <p>
              Để đảm bảo cho khách hàng một
              <span>“Trải nghiệm kỳ nghỉ tuyệt vời”</span>, chúng tôi áp dụng
              công nghệ vào việc đọc hiểu nhu cầu của thị trường, nghiên cứu
              phát triển sản phẩm và gợi ý những sản phẩm và dịch vụ tốt nhất,
              phù hợp với từng khách hàng.
            </p>
            <p>
              Khách hàng chọn đặt dịch vụ với iVIVU.com có thể đặt qua rất nhiều
              kênh: đặt trực tiếp tại
              <span>website, gọi điện thoại Hotline, đặt qua chat bot, app, đặt
                qua Facebook và các mạng xã hội khác</span>. Với iVIVU.com mỗi
              kỳ nghỉ là một trải nghiệm tuyệt vời!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import menu from "/js/GioiThieu.js"; menu();
</script>