<link rel="stylesheet" href="/css/VeMayBay.css" />

{{! Main }}
<div class="VeMayBay-page">
  <div class="thumbnail">
    <div class="thumbnail-images">
      <ul>
        <li><img src="/img/thumbnail1.jpg" alt="thumbnail" /></li>
        <li><img src="/img/thumbnail2.jpg" alt="thumbnail" /></li>
        <li><img src="/img/thumbnail3.jpg" alt="thumbnail" /></li>
        <li><img src="/img/thumbnail4.jpg" alt="thumbnail" /></li>
        <li><img src="/img/thumbnail5.jpg" alt="thumbnail" /></li>
      </ul>
    </div>
    <div class="thumbnail__info">
      <h1 class="thumbnail__info-heading">Đặt vé máy bay dễ dàng
        <span><i class="fad fa-bolt" style="margin-right: 4px;"></i>988 khách
          đặt vé trong 24h qua</span>
      </h1>
      <p class="thumbnail__info-subheading">
        Lựa chọn thông minh - Hành trình như ý - Nội địa & quốc tế
      </p>
    </div>
  </div>
  <div class="introduction">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="introduction__item">
            <div class="introduction__item-logo"><img
                src="https://www.ivivu.com/du-lich/content/img/icon-support.svg"
                loading="lazy"
                alt="introduction__item-logo"
              />
            </div>
            <div class="introduction__item-info">
              <h3>Tư Vấn Chuyên Nghiệp</h3>
              <p>Hỗ trợ nhiệt tình, chăm sóc chu đáo</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="introduction__item">
            <div class="introduction__item-logo"><img
                src="https://www.ivivu.com/du-lich/content/img/icon-location.svg"
                loading="lazy"
                alt="introduction__item-logo"
              />
            </div>
            <div class="introduction__item-info">
              <h3>Trải Nghiệm Đa Dạng</h3>
              <p>Chọn tour phù hợp, giá tour hợp lý</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="introduction__item">
            <div class="introduction__item-logo"><img
                src="https://www.ivivu.com/du-lich/content/img/icon-payment.svg"
                loading="lazy"
                alt="introduction__item-logo"
              />
            </div>
            <div class="introduction__item-info">
              <h3>Thanh Toán An Toàn</h3>
              <p>Linh hoạt, rõ ràng, bảo mật</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h1 class="content__heading">Giá vé Nội địa tốt nhất </h1>
      <h3 class="content__subheading">
        Giá tốt nhất từ VietnamAirlines, Bamboo, Vietjet...
      </h3>
      <div class="content__ticket-list">
        <div class="row">

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="ticket">
              <div class="row">
                <div class="col-8">
                  <div class="destination">
                    <span class="destination_from">Chiang Mai</span>
                    <i class="fas fa-exchange"></i>
                    <span class="destination_to">Bankok</span>
                  </div>
                  <div class="timer">
                    <span>09.05</span>
                    <span>11.05</span>
                  </div>
                  <div class="price"><span>1.906.000</span>VND</div>
                </div>
                <div class="col-4">
                  <div class="ticket-detail">
                    <img
                      src="https://res.ivivu.com/flight/inbound/images/compact/VietnamAirlines.png"
                      alt="logo"
                    />
                    <button>Xem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider">
    <div class="container">
      <h1 class="slider__heading">Khuyến mãi và ưu đãi</h1>
      <h3 class="slider__subheading">
        Tận hưởng ưu đãi – Trải nghiệm thoải mái
      </h3>
      <div class="wrap__slider">
        <img
          src="https://cdn1.ivivu.com/images/2023/02/23/13/banner-sd-20230213____horizontal.png"
          alt="slider"
          loading="lazy"
        />
        <img
          src="https://cdn1.ivivu.com/images/2023/02/21/18/%C6%AFu%20%C4%91%C3%A3i%20khuy%E1%BA%BFn%20m%C3%A3i%20-%20banner-sd-20230214____horizontal.png"
          alt="slider"
          loading="lazy"
        />
        <img
          src="https://cdn1.ivivu.com/images/2023/03/14/09/banner-sd-20230313____horizontal.png"
          alt="slider"
          loading="lazy"
        />
        <img
          src="https://cdn1.ivivu.com/images/2023/03/25/00/vmb1____horizontal.jpg"
          alt="slider"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>

{{! script }}
<script type="module">
  import VeMayBay from '/js/VeMayBay.js'; VeMayBay();
</script>