<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer">
  <div class="container">
    <div class="row">
      {{! left col }}
      <div class="col-8">
        <div class="footer__info">
          <div class="row">
            <div class="col-3">
              <h3>Về iVIVU.com</h3>
              <ul>
                <li><a href="#">Chúng tôi</a></li>
                <li><a href="#">iVIVU Blog</a></li>
                <li><a href="#">PMS - Miễn phí</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h3>Thông Tin Cần Biết</h3>
              <ul>
                <li><a href="#">Điều kiện & Điều khoản</a></li>
                <li><a href="#">Quy chế hoạt động</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h3>Đối Tác & Liên kết</h3>
              <ul>
                <li><a href="#">Vietnam Airlines</a></li>
                <li><a href="#">VNExpress</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h3>Được chứng nhận</h3>
              <div class="logo"><img
                  loading="lazy"
                  src="https://www.ivivu.com/du-lich/content/img/bocongthuong.png"
                  alt=""
                /></div>
            </div>
          </div>
        </div>
        <div class="footer__company">
          <div class="row">
            <div class="col-3">
              <div class="footer__company-item">
                <div class="footer__company-item-logo"><img
                    loading="lazy"
                    src="https://www.ivivu.com/du-lich/content/img/ico-wta-winner-shield-2021.png"
                    alt="logo"
                  /></div>
                <p class="footer__company-item-name">Đại lý Du lịch trực tuyến
                  hàng đầu Việt Nam</p>
              </div>
            </div>
            <div class="col-3">
              <div class="footer__company-item">
                <div class="footer__company-item-logo"><img
                    loading="lazy"
                    src="https://www.ivivu.com/du-lich/content/img/ico-hra.png"
                    alt="logo"
                  /></div>
                <p class="footer__company-item-name">Đại lý Du lịch trực tuyến
                  hàng đầu Việt Nam</p>
              </div>
            </div>
            <div class="col-3">
              <div class="footer__company-item">
                <div class="footer__company-item-logo"><img
                    loading="lazy"
                    src="https://res.ivivu.com/hotel/img/apea.png"
                    alt="logo"
                  /></div>
                <p class="footer__company-item-name">Đại lý Du lịch trực tuyến
                  hàng đầu Việt Nam</p>
              </div>
            </div>
          </div>
        </div>
        <ul class="address__list">
          <li class="address__list-item">
            DKKD: 0312788481, Ngày cấp: 21/05/2014, Sở kế hoạch đầu tư thành phố
            Hồ Chí Minh
          </li>
          <li class="address__list-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>HCM</span>: Lầu 2, Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa,
            Phường 7, Quận 3, Tp. Hồ Chí Minh (Xem bản đồ)
          </li>
          <li class="address__list-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>HN</span>: P308, Tầng 3, tòa nhà The One, số 2 Chương Dương
            Độ, P.Chương Dương, Q.Hoàn Kiếm, Hà Nội (Xem bản đồ)
          </li>
          <li class="address__list-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>Cần Thơ</span>: Tầng 7 - Tòa nhà STS - 11B Đại Lộ Hòa Bình, P.
            Tân An, Q. Ninh Kiều, TP. Cần Thơ (Xem bản đồ)
          </li>
          <li class="address__list-item">
            <span>Like để cập nhật cẩm nang du lịch</span>
            <i class="far fa-thumbs-up"></i>
          </li>
        </ul>
      </div>

      {{! right col }}
      <div class="col-4">
        <div class="footer__right">
          <div class="footer__right-group">
            <div class="footer__right-group-logos">
              <img
                loading="lazy"
                src="/img/footer1.png"
                alt="footer__right-group-logos"
              />
              <img
                loading="lazy"
                src="/img/footer2.png"
                alt="footer__right-group-logos"
              />
            </div>
            <p class="footer__right-group-text">Một thành viên của
              <span>Thiên Minh Group</span></p>
          </div>
          <div class="footer__right__contact">
            <h2>Bạn cần trợ giúp? Hãy gọi ngay</h2>
            <div class="footer__right__contact-hotline">
              <i class="fas fa-phone-alt"></i>
              <span>1900 1870</span>
            </div>
            <p>Đặt phòng dễ dàng hơn qua ứng dụng iVIVU</p>
            <div class="contacts__app">
              <div class="contacts__app-qr"><img
                  src="https://cdn1.ivivu.com/app-icon/iVIVUcode.png"
                  loading="lazy"
                  alt="qr"
                /></div>
              <div class="contacts__app-mobile">
                <img
                  src="https://cdn1.ivivu.com/app-icon/tai-appstore.png"
                  loading="lazy"
                  alt=""
                />
                <img
                  src="https://cdn1.ivivu.com/app-icon/tai-google-play.png"
                  loading="lazy"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>