    <div class="col-md-8">
      <div class="thongtintaikhoan">
        <h3 style="font-weight:bold">Thông tin tài khoản</h3>
        <div class="form-group thongtinthe mt-5">
          <h5 for="" style="font-weight:bold">Thông tin thẻ</h5>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Tích lũy theo hạng thẻ</option>
            <option>Tích lũy theo năm</option>
          </select>
        </div>
        <div class="tichluy-box">
          <div class="circle-tichluy">
            <svg class="ant-progress-circle" viewBox="-50 -50 100 100" role="presentation"><circle class="ant-progress-circle-trail" r="49" cx="0" cy="0" stroke="#EBEBEB" stroke-linecap="round" stroke-width="2" style="stroke: rgb(235, 235, 235); stroke-dasharray: 153.938px, 307.876; stroke-dashoffset: 0; transform: rotate(180deg); transform-origin: 0px 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s ease 0s, stroke-width 0.06s ease 0.3s, opacity 0.3s ease 0s; fill-opacity: 0;"></circle><circle class="ant-progress-circle-path" r="49" cx="0" cy="0" stroke-linecap="round" stroke-width="2" opacity="0" style="stroke: rgb(232, 149, 47); stroke-dasharray: 153.938px, 307.876; stroke-dashoffset: 153.928; transform: rotate(180deg); transform-origin: 0px 0px; transition: stroke-dashoffset 0s ease 0s, stroke-dasharray 0s ease 0s, stroke ease 0s, stroke-width ease 0.3s, opacity ease 0s; fill-opacity: 0;"></circle><circle class="ant-progress-circle-path" r="49" cx="0" cy="0" stroke-linecap="round" stroke-width="2" opacity="0" style="stroke: rgb(82, 196, 26); stroke-dasharray: 153.938px, 307.876; stroke-dashoffset: 153.928; transform: rotate(180deg); transform-origin: 0px 0px; transition: stroke-dashoffset 0s ease 0s, stroke-dasharray 0s ease 0s, stroke ease 0s, stroke-width ease 0.3s, opacity ease 0s; fill-opacity: 0;"></circle></svg>
            <div class="point-circle point-circle-1">
              0 triệu <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHtSURBVHgBVZHNS1RhFMZ/73vf6706M84oY2pZ9iGhkFRQkUT7li360ja5adE+opVK0KoW/QXSl0UQzJ+QUAshiCiEMMwkY3QcnXHu3Ll37sfbLRjJA4fzLJ6H85zzCP6rhadXxwzLuiJl26AgtsMwWFIienJ6/PVKiyNa4OOL8Yeqo/N+Jt+Pnc4T6wivuoFbLdH0nOmz43Mzu4IPszemDZWdOnruEqmeAUw7Q+RtU1v/Rnl1idCv4dc27565OfdIzD+7PoJnLvYNjdB7/DxWKo2yOwjdCs7mMpoMW2s/aJQXY613+pStuWN0mkSNItXVedL5I6By1CsVtteW2Td0AdOycNHS97itYh2eEEEj8eqiRBkZlwh1nt8/XaqlMpu/3pAfOEh71zBOZWFUaR3HUeijteTvDOoODbeU+A+TLR6hBT2HjiGMFMpst6REf7FSWVK5A4nfLH5d41YcdLNGm9Ek29WW4CL1ja/oyH0vAygos4Pu/SchzrFTEtS3fFTy1lwGunMCWxSRUdIyfisvThbeOVvFB56zkxw8jCEtbKUToqS3P0O6M4PUPkR6ZmyysLIb3Kfn16bTPYNTthKEte+gYzBM/GYQeQH3Tk0UHu9J+p9o9vJhbG5ZZjQshPD9wPhsxPbL0YlX6y3OHxrc2IYRojvXAAAAAElFTkSuQmCC" alt="">
            </div>
            <div class="point-circle point-circle-2">
              <p style="margin-bottom: 0">50 triệu </p>
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHtSURBVHgBVZHNS1RhFMZ/73vf6706M84oY2pZ9iGhkFRQkUT7li360ja5adE+opVK0KoW/QXSl0UQzJ+QUAshiCiEMMwkY3QcnXHu3Ll37sfbLRjJA4fzLJ6H85zzCP6rhadXxwzLuiJl26AgtsMwWFIienJ6/PVKiyNa4OOL8Yeqo/N+Jt+Pnc4T6wivuoFbLdH0nOmz43Mzu4IPszemDZWdOnruEqmeAUw7Q+RtU1v/Rnl1idCv4dc27565OfdIzD+7PoJnLvYNjdB7/DxWKo2yOwjdCs7mMpoMW2s/aJQXY613+pStuWN0mkSNItXVedL5I6By1CsVtteW2Td0AdOycNHS97itYh2eEEEj8eqiRBkZlwh1nt8/XaqlMpu/3pAfOEh71zBOZWFUaR3HUeijteTvDOoODbeU+A+TLR6hBT2HjiGMFMpst6REf7FSWVK5A4nfLH5d41YcdLNGm9Ek29WW4CL1ja/oyH0vAygos4Pu/SchzrFTEtS3fFTy1lwGunMCWxSRUdIyfisvThbeOVvFB56zkxw8jCEtbKUToqS3P0O6M4PUPkR6ZmyysLIb3Kfn16bTPYNTthKEte+gYzBM/GYQeQH3Tk0UHu9J+p9o9vJhbG5ZZjQshPD9wPhsxPbL0YlX6y3OHxrc2IYRojvXAAAAAElFTkSuQmCC" alt="">
            </div>
            <div class="point-circle point-circle-3">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHtSURBVHgBVZHNS1RhFMZ/73vf6706M84oY2pZ9iGhkFRQkUT7li360ja5adE+opVK0KoW/QXSl0UQzJ+QUAshiCiEMMwkY3QcnXHu3Ll37sfbLRjJA4fzLJ6H85zzCP6rhadXxwzLuiJl26AgtsMwWFIienJ6/PVKiyNa4OOL8Yeqo/N+Jt+Pnc4T6wivuoFbLdH0nOmz43Mzu4IPszemDZWdOnruEqmeAUw7Q+RtU1v/Rnl1idCv4dc27565OfdIzD+7PoJnLvYNjdB7/DxWKo2yOwjdCs7mMpoMW2s/aJQXY613+pStuWN0mkSNItXVedL5I6By1CsVtteW2Td0AdOycNHS97itYh2eEEEj8eqiRBkZlwh1nt8/XaqlMpu/3pAfOEh71zBOZWFUaR3HUeijteTvDOoODbeU+A+TLR6hBT2HjiGMFMpst6REf7FSWVK5A4nfLH5d41YcdLNGm9Ek29WW4CL1ja/oyH0vAygos4Pu/SchzrFTEtS3fFTy1lwGunMCWxSRUdIyfisvThbeOVvFB56zkxw8jCEtbKUToqS3P0O6M4PUPkR6ZmyysLIb3Kfn16bTPYNTthKEte+gYzBM/GYQeQH3Tk0UHu9J+p9o9vJhbG5ZZjQshPD9wPhsxPbL0YlX6y3OHxrc2IYRojvXAAAAAElFTkSuQmCC" alt="">
              100 triệu
            </div>
            <div class="tichluy-card">
              <img src="https://storage.googleapis.com/loyalty-public-arczn36dnada/210920222190_previous_photo_card_6159c9a3-e57f-401c-9e49-cf933d4dcdd5.jpg" alt="">
            </div>
            <div class="tichluy-barcode">
              <p style="color: rgb(132, 129, 129); font-size: 14px;">Trạng thái: <span style="color: rgb(82, 196, 26)">Có hiệu lực</span></p>
              <img src="https://www.thechecker.net/hubfs/images/barcode.png" alt="">
            </div>
          </div>
        </div>
        <!-- THÔNG TIN CÁ NHÂN -->
        <div class="form-group thongtinthe mt-5" style="position:relative;z-index:99">
          <h5 for="" style="font-weight:bold">Thông tin cá nhân</h5>
            <form method="post" id="updateUserForm">
                <div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="name">Họ và tên</label>
                                <input value="{{userData.userName}}" type="text" class="form-control thongtincanhanh-input" id="name" name="name" placeholder="Nhập họ và tên" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                            <label for="">Giới tính</label>
                                <div>
                                    <input {{#ifEqual userData.gender "Male"}}checked{{/ifEqual}} type="radio" name="gender" id="male" value="Male" required>
                                    <label for="male">Nam</label>
                                    <input {{#ifEqual userData.gender "Female"}}checked{{/ifEqual}} type="radio" name="gender" id="female" value="Female" required>
                                    <label for="female">Nữ</label>
                                    <input {{#ifEqual userData.gender "Other"}}checked{{/ifEqual}} type="radio" name="gender" id="other" value="Other" required>
                                    <label for="other">Khác</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input value="{{userData.email}}" type="email" class="form-control thongtincanhanh-input" id="emailField" name="email" readonly>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                            <label for="phone">Điện thoại</label>
                            <input value="{{userData.phoneNumber}}" type="text" placeholder="Nhập số điện thoại" class="form-control thongtincanhanh-input" id="phone" name="phone" pattern="[0]{1}[0-9]{3}[0-9]{3}[0-9]{3}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input value="{{userData.address}}" type="text" class="form-control" placeholder="Nhập địa chỉ" id="address" name="address" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control border-0">
                            <input type="checkbox" id="changepass" name="changePass">
                            <label for="changepass">Đặt lại mật khẩu (đăng nhập bằng email)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                            <label for="passNow">Mật khẩu hiện tại</label>
                            <input name="passNow" type="text" class="form-control" placeholder="Mật khẩu hiện tại của bạn" id="passNow">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                            <label for="passNew">Mật khẩu mới</label>
                            <input minlength="6" type="password" name="passNew" type="text" class="form-control" placeholder="Mật khẩu mới" id="passNew">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                            <label for="passNewPre">Xác nhận mật khẩu mới</label>
                            <input type="password" name="passNewPre" type="text" class="form-control" placeholder="Xác nhận mật khẩu mới" id="passNewPre">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start">
                  {{!-- <div class="alert alert-success" id="response_success" style="display:none;"></div> --}}
                </div>
                <div class="row justify-content-start">
                  <div class="alert alert-danger" id="response_alert" style="display:none;"></div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-4 col-md-2">
                    <button type="submit" class="btn btn-success">Lưu</button>
                    </div>
                </div>
            </form> 
        </div>
      </div>
    </div>

{{!-- Validate form client --}}
<script>
const changePassCheckboxValidate = document.getElementById("changepass");
const passNowInputValidate = document.getElementById("passNow");
const passNewInputValidate = document.getElementById("passNew");
const passNewPreInputValidate = document.getElementById("passNewPre");

// Thêm xử lý sự kiện khi checkbox được thay đổi
changePassCheckboxValidate.addEventListener("change", function() {
  if (this.checked) {
    // Nếu checkbox được chọn, thêm thuộc tính required cho ô nhập liệu passNow
    passNowInputValidate.setAttribute("required", true);
    passNewInputValidate.setAttribute("required", true);
    passNewPreInputValidate.setAttribute("required", true);
  } else {
    // Nếu checkbox không được chọn, xóa thuộc tính required khỏi ô nhập liệu passNow
    passNowInputValidate.removeAttribute("required");
    passNewInputValidate.setAttribute("required", true);
    passNewPreInputValidate.setAttribute("required", true);
  }
});
</script>
{{!-- <script src="/js/userProfile.js"></script> --}}
<script>
const form = document.getElementById('updateUserForm');
const nameInput = $("#name");
const emailInput = $("#emailField");
const phoneInput = $("#phone");
const addressInput = $("#address");
const changePassInput = $("#changepass");
const passNowInput = $("#passNow");
const passNewInput = $("#passNew");
const passNewPreInput = $("#passNewPre");

form.addEventListener('submit', (event) => {
  event.preventDefault(); // prevent default form submission
  
  // Lấy giá trị của radio button gender được chọn
  const genderInput = $('input[name=gender]:checked').val();
  
  const data = {
    name: nameInput.val(),
    gender: genderInput,
    email: emailInput.val(),
    phone: phoneInput.val(),
    address: addressInput.val(),
    changePass: changePassInput.prop('checked'), // sử dụng prop() để lấy giá trị của checkbox
    passNow: passNowInput.val(),
    passNew: passNewInput.val(),
    passNewPre: passNewPreInput.val()
  };
  console.log(data)
  const currentPath = window.location.pathname;
  fetch(currentPath, {
    method: 'POST',
    body: JSON.stringify(data),
    headers: {
      'Content-Type': 'application/json',
    },
    contentType: 'application/json'
  })
  .then(response => {
    return response.json()
  })
  .then(data => {
    console.log(data.errors)
    if(data.errors){
      $("#response_alert").text(data.errors.message);
      $("#response_alert").show();
      setTimeout(() => {
        $("#response_alert").hide();
      }, 5000);
    } else {
      {{!-- $("#response_success").text(data.message);
      $("#response_success").show();
      setTimeout(() => {
        $("#response_success").hide();
      }, 5000); --}}
      $('#successModalTick p').text(data.message);
      $('#successModalTick').fadeIn().delay(3000).fadeOut()
    }
  })
  .catch(error => {
    // handle error response
    console.log('Error:', error.message);
    Swal.fire({
      title: 'Thông báo',
      text: 'Đã xảy ra lỗi khi gửi biểu mẫu',
      icon: 'warning',
      confirmButtonText: 'OK'
    });
  });
});

</script>
